# Python basics

In [1]:
import csv
%precision 2

with open('data.csv') as f:
    mpg = list(csv.DictReader(f))

mpg[:3]

In [2]:
len(mpg)

In [3]:
mpg[0].keys()

In [4]:
sum(float(d['Period']) for d in mpg)/ len(mpg)

2018.22

# datetime

In [5]:
import datetime as dt
import time as tm

In [6]:
dtnow = dt.datetime.fromtimestamp(tm.time())  #Important for local present time and date information

In [7]:
dtnow

datetime.datetime(2021, 4, 30, 22, 52, 39, 669176)

In [8]:
dtnow.second

39

In [9]:
dtnow.hour, dtnow.day, dtnow.month, dtnow.year

(22, 30, 4, 2021)

In [10]:
delta = dt.timedelta(days = 100) #Important too
delta

datetime.timedelta(days=100)

In [11]:
today = dt.date.today()

In [12]:
today-delta

datetime.date(2021, 1, 20)

In [13]:
dt.date.today()

datetime.date(2021, 4, 30)

In [14]:
today > today-delta

True

# map()

In [15]:
list1 = [10,40,11,99]   #This map() function takes one func at first attribute and iterates it over all other attribute
list2 = [12,38,15,1101]

In [16]:
n = list(map(max, list1, list2))

In [17]:
print(n)

[12, 40, 15, 1101]

In [18]:
p = list(map(min, list1, list2))

In [19]:
p

[10, 38, 11, 99]

# Lambda (syntax => lambda argument : expression)

In [20]:
mean = lambda a, b, c : (a+b+c)/3
print(mean(3,6,9))

6.0

In [21]:
(lambda a,b,c : (a+b+c)/3)(3,6,9) #we can directly place its argument values just after lambda function

6.00

# List Comprehension

In [22]:
man = [i for i in range(0,11) if i%2 == 0]
man

[0, 2, 4, 6, 8, 10]

#Hereâ€™s a harder question which brings a few things together.

Many organizations have user ids which are constrained in some way. Imagine you work at an internet service provider and the user ids are all two letters followed by two numbers (e.g. aa49). Your task at such an organization might be to hold a record on the billing activity for each possible user. 

Write an initialization line as a single list comprehension which creates a list of all possible user ids. Assume the letters are all lower case.

In [23]:
lowercase = 'abc'
digits = '012'

answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]
answer

['aa00',
 'aa01',
 'aa02',
 'aa10',
 'aa11',
 'aa12',
 'aa20',
 'aa21',
 'aa22',
 'ab00',
 'ab01',
 'ab02',
 'ab10',
 'ab11',
 'ab12',
 'ab20',
 'ab21',
 'ab22',
 'ac00',
 'ac01',
 'ac02',
 'ac10',
 'ac11',
 'ac12',
 'ac20',
 'ac21',
 'ac22',
 'ba00',
 'ba01',
 'ba02',
 'ba10',
 'ba11',
 'ba12',
 'ba20',
 'ba21',
 'ba22',
 'bb00',
 'bb01',
 'bb02',
 'bb10',
 'bb11',
 'bb12',
 'bb20',
 'bb21',
 'bb22',
 'bc00',
 'bc01',
 'bc02',
 'bc10',
 'bc11',
 'bc12',
 'bc20',
 'bc21',
 'bc22',
 'ca00',
 'ca01',
 'ca02',
 'ca10',
 'ca11',
 'ca12',
 'ca20',
 'ca21',
 'ca22',
 'cb00',
 'cb01',
 'cb02',
 'cb10',
 'cb11',
 'cb12',
 'cb20',
 'cb21',
 'cb22',
 'cc00',
 'cc01',
 'cc02',
 'cc10',
 'cc11',
 'cc12',
 'cc20',
 'cc21',
 'cc22']