In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("president.csv", index_col=0)
df.head()

,S.No.,start,end,president,prior,party,vice
0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins

In [3]:
# let's seperate first name of president from its full name 
df["first"] = df["president"]
df["first"] = df["first"].replace("[ ].*", "", regex= True)
df.head()

,S.No.,start,end,president,prior,party,vice,first
0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams,George
1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson,John
2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr,Thomas
3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton,James
4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins,James

In [4]:
# We can do the same thing in short and faster way so let's erase the column "first" permanently
del(df["first"])

In [5]:
df.head()

,S.No.,start,end,president,prior,party,vice
0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins

In [6]:
def splitname(row):
    # Let's do for first name
    row["first"] = row["president"].split(" ")[0]
    # Let's do the same for last name
    row["last"] = row["president"].split(" ")[-1]
    return row;

df = df.apply(splitname, axis=1) # Here we can also do axis = "coloumn"
df.head()

,S.No.,start,end,president,prior,party,vice,first,last
0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams,George,Washington
1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson,John,Adams
2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr,Thomas,Jefferson
3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton,James,Madison
4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins,James,Monroe

In [7]:
# Here we have more fast and easy way to do above thing 
del(df["first"])
del(df["last"])

In [8]:
# Using regex we can do it fast
pattern= "(^[\w]*)(?:.* )([\w]*$)"
df["president"].str.extract(pattern).head()

        0           1
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [9]:
# Let's give names to the columns 
pattern= "(?P<First>^[\w]*)(?:.* )(?P<Last>[\w]*$)"

names= df["president"].str.extract(pattern).head()
names

    First        Last
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [10]:
# Now let's insert into main DataFrame
df["First"] = names["First"]
df["Last"] = names["Last"]
df.head(10)

,S.No.,start,end,president,prior,party,vice,First,Last
0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams,George,Washington
1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson,John,Adams
2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr,Thomas,Jefferson
3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton,James,Madison
4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins,James,Monroe
5,6,"March 4, 1825","March 4, 1829",John Quincy Adams,8th United States Secretary of State (1817–...,Democratic- Republican,John C. Calhoun,NaN,NaN
6,7,"March 4, 1829","March 4, 1837",Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun,NaN,NaN
7,8,"March 4, 1837","March 4, 1841",Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson,NaN,NaN
8,9,"March 4, 1841","April 4, 1841",William Henry Harrison,United States Minister to Colombia (1828–1829),Whig,John Tyler,NaN,NaN
9,10,"April 4, 1841","March 4, 1845",John Tyler,10th Vice President of the United States,"Whig April 4, 1841 – September 13, 1841",Office vacant,NaN,NaN

In [11]:
# Let's go to start column
df["start"] = df["start"].str.extract("([\w]*} [\w]{1,2}, [\w]{4})")
df["start"].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: start, dtype: object

In [12]:
# Pandas also has great library date/time let's use it 
df["start"] = pd.to_datetime(df["start"])
df["start"].head()

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: start, dtype: datetime64[ns]