In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('covid_india.csv')

In [5]:
df

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
0,Andaman and Nicobar,7600,13,7458,129,0.17,98.13,1.70
1,Andhra Pradesh,2039529,14388,2011063,14078,0.71,98.60,0.69
2,Arunachal Pradesh,54126,410,53444,272,0.76,98.74,0.50
3,Assam,598423,4984,587632,5807,0.83,98.20,0.97
4,Bihar,725901,69,716173,9659,0.01,98.66,1.33
5,Chandigarh,65188,41,64329,818,0.06,98.68,1.25
6,Chhattisgarh,1005094,297,991234,13563,0.03,98.62,1.35
7,Dadra and Nagar Haveli and Daman and Diu,10670,0,10666,4,0.00,99.96,0.04
8,Delhi,1438517,379,1413053,25085,0.03,98.23,1.74
9,Goa,175583,810,171478,3295,0.46,97.66,1.88
10,Gujarat,825737,133,815522,10082,0.02,98.76,1.22
11,Haryana,770746,340,760598,9808,0.04,98.68,1.27
12,Himachal Pradesh,217140,1616,211871,3653,0.74,97.57,1.68
13,Jammu and Kashmir,328069,1461,322191,4417,0.45,98.21,1.35
14,Jharkhand,348125,55,342937,5133,0.02,98.51,1.47
15,Karnataka,2968543,14386,2916530,37627,0.48,98.25,1.27
16,Kerala,4524158,167578,4332897,23683,3.70,95.77,0.52
17,Ladakh,20737,138,20392,207,0.67,98.34,1.00
18,Lakshadweep,10359,8,10300,51,0.08,99.43,0.49
19,Madhya Pradesh,792402,96,781789,10517,0.01,98.66,1.33
20,Maharashtra,6524498,45229,6340723,138546,0.69,97.18,2.12
21,Manipur,118673,2183,114658,1832,1.84,96.62,1.54
22,Meghalaya,79667,1896,76391,1380,2.38,95.89,1.73
23,Mizoram,81460,15140,66057,263,18.59,81.09,0.32
24,Nagaland,30907,467,29786,654,1.51,96.37,2.12
25,Odisha,1020754,4947,1007666,8141,0.48,98.72,0.80
26,Puducherry,125517,867,122818,1832,0.69,97.85,1.46
27,Punjab,601323,307,584517,16499,0.05,97.21,2.74
28,Rajasthan,954263,91,945218,8954,0.01,99.05,0.94
29,Sikkim,30971,654,29937,380,2.11,96.66,1.23
30,Tamil Nadu,2647041,16984,2594697,35360,0.64,98.02,1.34
31,Telengana,663662,4991,654765,3906,0.75,98.66,0.59
32,Tripura,83905,346,82750,809,0.41,98.62,0.96
33,Uttar Pradesh,1709680,194,1686599,22887,0.01,98.65,1.34
34,Uttarakhand,343393,267,335736,7390,0.08,97.77,2.15
35,West Bengal,1562173,7810,1535699,18664,0.50,98.31,1.19

In [12]:
sns.countplot(x='Total Case')

Andaman and Nicobar    1
Andhra Pradesh         1
Maharashtra            1
Manipur                1
Meghalaya              1
Name: State/UTs, dtype: int64